name: Python CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      #step1: checkout the code from repository
      - name: Check out code
        uses: actions/checkout@v2
#step2 : set up python environment
      - name: set up python 
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
#step3 : install dependencies
      - name: Install Dependencies
        run:
          python -m pip install --upgrade pip
          pip install -r requirements.txt
#step4 : Run tests
      - name: Run tests
        run: pytest tests/ -v
